    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am a 3rd year Computer Science student at the University of Massachusetts at Dartmouth. I've had a passion for Computer Science for pretty much my entire life. Many of my early creations were done using MIT's Scratch, which still holds a special place in my heart.</p>
                <p>I'm currently based in New Bedford, Massachusetts, but am willing to relocate. At the moment, I'm seeking any full stack positions.</p>
                <p>I am proficient in C, C++, Java, JavaScript, and Python. Currently, I'm working on broadening my knowledge and expertise of C++, GO, Node.JS, HTML, and SQL.</p>
                <p>My current github profile is available <a href = "github.com/seanmmcd">here</a>.</p>
            </div>
        </div>
    </section>