    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>View My Resume</h2>
                    <p>You can follow the link below to view my current resume on Box.com.</p>
                    <a href="https://app.box.com/file/330858998807" class="btn btn-default btn-lg">View Resume File</a>
                </div>
            </div>
        </div>
    </section>