    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can view a copy of my resume below, or follow the external link to Box.</p>
                    <iframe src="https://app.box.com/embed/s/w1dsoki2tgqmii1mz13m7zh08mp842z1" width="600" height="400" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>