<!-- Download Section -->
<section id="project-OWL" class="content-section text-center">
    <div class="project-OWL-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>OWL-J</h2>
                <p>OWL-J is a java application created to pull current Overwatch League rankings in a simple, fast desktop application.</p>
                <p>View the project repo using the link below.</p>
                <a href="https://github.com/seanmmcd/OWL-J" class="btn btn-default btn-lg">View Project Repo</a>
            </div>
        </div>
    </div>
</section>