<!-- Download Section -->
<section id="project-RUNELITE" class="content-section text-center">
    <div class="project-RUNELITE-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>RuneLite</h2>
                <p>RuneLite is a RuneScape client that provides an advanced suite of game enhancing tools to the user.</p>
                <p>View the project repo using the link below.</p>
                <a href="https://github.com/runelite/runelite" class="btn btn-default btn-lg">View Project Repo</a>
            </div>
        </div>
    </div>
</section>